{% extends 'base.html.j2' %}
    
    {% block title %}
        Login
    {% endblock %}
    
    {% block content %}
        <div class="container">
            <form method="POST" class="form-login" style="color:black">
                {{ form.hidden_tag() }}
                <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
                <br>
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="User Name")}}

                {{ form.password.label() }}
                {{ form.password(class="form-control", placeholder="Password")}}

                <br>
                
                <div class="checkbox mb-3">
                    <h6>Create an account</h6>
                    <a class="btn btn-sm btn-secondary" href="{{ url_for('register') }}">Register</a>
                </div>
                {{ form.submit(class="btn btn-lg btn-primary btn-block", value="Login") }}
                
            </form>
        </div>
    {% endblock %}