{% extends 'base.html.j2' %}

{% block title %}
    Users Page
{% endblock %}

{% block content %}
    <!-- Jinja2 value access from flask-->
    <table class="table table-hover table-light">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Options</th>
        </tr>
    </thead>
    <thead>
        <!-- Jinja2 logic access for loop-->
        {% for user in users %}
        {% include 'includes/user_modals.html.j2' %}
        <tr>
        <!-- Jinja2 access iterator values where iterator is a dict-->
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>
            <button class="btn btn-outline-info" data-toggle="modal" data-target="#userInfoModal-{{ user.id }}" id="buttonUserInfo-{{ user.id }}">More Info</button>
            <button class="btn btn-outline-danger" data-toggle="modal" data-target="#removeUserModal-{{ user.id }}">Remove</button>
        </td>
        </tr>
        {% endfor %}
    </thead>
    </table>
    <button class="btn btn-outline-primary">Add User</button>
{% endblock %}